<!DOCTYPE html>
<html lang="en" ng-app="my-app">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/onsenui.css"/>
  <link rel="stylesheet" href="css/onsen-css-components.css"/>
  <script src="js/angular.min.js"></script>
  <script src="js/ng-file-upload.min.js"></script>
  <script src="js/onsenui.min.js"></script>
  <script src="js/angularjs-onsenui.min.js"></script>
  <script src="js/constant.js"></script>
  <script src="js/controller.js"></script>


</head>

<body>

  <ons-splitter var="mySplitter" ng-controller="SplitterController as splitter" id="splitterctrl">
  <ons-splitter-side side="left" width="220px" collapse swipeable>
    <ons-page>
      <ons-list>
        <ons-list-item style="background: #2716e5; padding-top: 10px; padding-bottom: 30px; color: white; border: 5px solid #ffffff;" modifier="nodivider">
            <h3 style="margin: 0px;">Daniel Dahlan</h3>
            <p style="margin-bottom: 0px; margin-top: 8px; font-size: 0.8em;">Station: Petaling Jaya</p>
            <p style="margin-top: 2px; font-size: 0.8em;">Vendor : Sutraz RME Sdn Bhd</p>
        </ons-list-item>
        <ons-list-item style="margin-top: -10px;"  modifier="nodivider" ng-click="splitter.load('home.html')" tappable>
          <div class="list-item__left">
            <ons-icon size="20px" icon="md-flash-off"></ons-icon>&nbsp;&nbsp;Disconnection
          </div>
          <div class="list-item__right">
            <span class="notification">{{getAssCount()}}</span>
          </div>
        </ons-list-item>
        <ons-list-item style="margin-top: -30px; border-bottom: 1px solid #e2dede;" ng-click="splitter.load('settings.html')" modifier="nodivider" tappable>
          <div class="list-item__left">
            <ons-icon size="20px" icon="md-flash"></ons-icon>&nbsp;&nbsp;&nbsp;Reconnection
          </div>
          <div class="list-item__right">
            <span class="notification">{{getAssCountRecon()}}</span>
          </div>
        </ons-list-item>
        <ons-list-item  style="margin-top: 0px;" ng-click="splitter.load('about.html')" modifier="nodivider" tappable>
          <div class="list-item__left">
            <ons-icon size="20px" icon="md-settings"></ons-icon>&nbsp;&nbsp;Settings
          </div>
        </ons-list-item>
      </ons-list>
    </ons-page>
  </ons-splitter-side>
  <ons-splitter-content page="home.html"></ons-splitter-content>
</ons-splitter>

<template id="home.html">
  <ons-page>
    <ons-toolbar>
      <div class="left">
        <ons-toolbar-button ng-click="mySplitter.left.open()">
          <ons-icon icon="md-menu"></ons-icon>
        </ons-toolbar-button>
      </div>
      <div class="center">
        TNB MoDis - Disconnection
      </div>
    </ons-toolbar>
    <ons-tabbar swipeable position="auto" ons-prechange="updateTitle($event)">
      <!--
      <ons-tab page="tab1.html" label="Assigned" badge="{{getAssCount()}}" active>
      </ons-tab>
      <ons-tab page="tab2.html" label="Pending" badge="{{getPendingCount()}}">
      </ons-tab>
      <ons-tab page="tab3.html" label="Completed" badge="{{getCompleteCount()}}">
      </ons-tab> -->
      <ons-tab page="tab1.html">
        <input type="radio" style="display: none">
        <button class="tabbar__button">
          <div class="tabbar__label">Assigned</div>
          <div class="tabbar__badge notification">{{getAssCount()}}</div>
        </button>
      </ons-tab>
      <ons-tab page="tab2.html">
        <input type="radio" style="display: none">
        <button class="tabbar__button">
          <div class="tabbar__label">Pending</div>
          <div class="tabbar__badge notification" style="background-color: #b9b6b6;">{{getPendingCount()}}</div>
        </button>
      </ons-tab>
      <ons-tab page="tab3.html">
        <input type="radio" style="display: none">
        <button class="tabbar__button">
          <div class="tabbar__label">Completed</div>
          <div class="tabbar__badge notification" style="background-color: #b9b6b6;">{{getCompleteCount()}}</div>
        </button>
      </ons-tab>
    </ons-tabbar>
    <p style="text-align: center; opacity: 0.6; padding-top: 20px;">
      Swipe right to open the menu!
    </p>
  </ons-page>
</template>

<div class="modal" style="background: rgba(0, 0, 0, 0);" ng-show="showLoader">
  <div class="modal__content">
    <svg class="progress-circular progress-circular--indeterminate">
      <circle class="progress-circular__background"/>
      <circle class="progress-circular__primary progress-circular--indeterminate__primary"/>
      <circle class="progress-circular__secondary progress-circular--indeterminate__secondary"/>
    </svg>
  </div>
</div>

<template id="tab1.html">
  <ons-page id="Tab1">
    <ons-navigator swipeable var="myNavigator" page="tab1list.html"></ons-navigator>
    <!--
    <div>
      <div class="card" ng-repeat="job in assJobs" ng-click="myNavigator.pushPage('page2.html', {data: {title: 'Page 2'}})" tappable>
        <h2 class="card__title" style="font-size: 18px; font-weight: 700; margin-top: 5px; margin-bottom: 5px;">{{job.customer}}</h2>
        <div class="card__content" style="margin-top: 0px; margin-bottom: 0px;">
          <p style="margin-top: 0px; margin-bottom: 0px;">{{job.addrs1}}, {{job.addrs2}}, {{job.addrs3}}</p>
          <p style="margin-top: 0px; margin-bottom: 0px;"><span><strong>SO #</strong>: {{job.sono}}</span><span style="margin-left: 20px;"><strong>Account #</strong>: {{job.acctno}}</span></p>
          <p style="margin-top: 0px; margin-bottom: 0px;"><span><strong>Tiang #</strong>: {{job.tiangno}}</span><span style="margin-left: 20px;"><strong>Meter #</strong>: {{job.meterno}}</span></p>
          <p style="margin-top: 0px; margin-bottom: 5px;"><span><strong>Remark</strong>: {{job.remark}}</span></span></p>
        </div>
      </div>
    </div>
-->

    <template id="tab1list.html">
      <ons-page ons-show="onshow('tab1list')">
        <div>
          <div class="card" ng-repeat="job in assJobs" ng-click="doPushPage('tab1detail', job.id)" tappable>
            <h2 class="card__title" style="font-size: 18px; font-weight: 700; margin-top: 5px; margin-bottom: 5px;">{{job.customer}}</h2>
            <div class="card__content" style="margin-top: 0px; margin-bottom: 0px;">
              <p style="margin-top: 0px; margin-bottom: 0px;">{{job.addrs1}}, {{job.addrs2}}, {{job.addrs3}}</p>
              <p style="margin-top: 0px; margin-bottom: 0px;"><span><strong>SO #</strong>: {{job.sono}}</span><span style="margin-left: 20px;"><strong>Account #</strong>: {{job.acctno}}</span></p>
              <p style="margin-top: 0px; margin-bottom: 0px;"><span><strong>Tiang #</strong>: {{job.tiangno}}</span><span style="margin-left: 20px;"><strong>Meter #</strong>: {{job.meterno}}</span></p>
              <p style="margin-top: 0px; margin-bottom: 5px;"><span><strong>Remark</strong>: {{job.remark}}</span></span></p>
            </div>
          </div>
        </div>
        <p style="margin-top: 30px; text-align: center;" ng-show="getAssCount()==undefined">No item</p>
        <!--
        <p>This is the first page.</p>
        <ons-button ng-click="myNavigator.pushPage('tab1detail.html', {data: {title: 'Page 2'}})">Push page</ons-button>
        <ons-button onclick="goto()">Go to</ons-button>
      -->
      </ons-page>
    </template>

    <template id="tab1detail.html">
      <ons-page ons-show="onshow('tab1detail')"  ons-hide="onhide('tab1detail')">
        <ons-list>
          <ons-list-header style="font-size: 18px; padding-top: 20px;">{{getCurData().customer}}</ons-list-header>
          <ons-list-item>
              <span class="list-item__title">Address</span><span class="list-item__subtitle">{{getCurData().addrs1 + "," + getCurData().addrs2 + "," + getCurData().addrs3}}</span>
          </ons-list-item>
          <ons-list-item>
              <span class="list-item__title">Type of Premise</span><span class="list-item__subtitle">{{getCurData().top}}</span>
          </ons-list-item>
          <ons-list-item>
              <span class="list-item__title">Meter #</span><span class="list-item__subtitle">{{getCurData().meterno}}</span>
          </ons-list-item>
          <ons-list-item>
              <span class="list-item__title">SO #</span><span class="list-item__subtitle">{{getCurData().sono}}</span>
          </ons-list-item>
          <ons-list-item>
              <span class="list-item__title">Account #</span><span class="list-item__subtitle">{{getCurData().acctno}}</span>
          </ons-list-item>
          <ons-list-item>
              <span class="list-item__title">Arrears (RM)</span>
              <span class="list-item__subtitle"><strong>OB:</strong> {{getCurData().ar_ob | number:2}}</span>
              <span class="list-item__subtitle"><strong>AD:</strong> {{getCurData().ar_ad | number:2}}</span>
              <span class="list-item__subtitle"><strong>RD:</strong> {{getCurData().ar_rd | number:2}}</span>
          </ons-list-item>
          <ons-list-item>
              <span class="list-item__title">Image</span>
              <div style="margin-top:10px;">
                <img ng-src="data:image/png;base64,{{getTN(0)}}" height="120px" ng-click="test(0)" />
                <img ng-src="data:image/png;base64,{{getTN(1)}}" height="120px" ng-click="test(1)" />
              </div>
          </ons-list-item>
          <ons-list-item>
              <span class="list-item__title">Disconnection Meter Reading</span>
              <span class="list-item__subtitle"><input class="text-input text-input--material" placeholder="" type="text" ng-model="disconentry.meter_reading"></span>
          </ons-list-item>
          <ons-list-item>
              <span class="list-item__title">Meter # (last 4 digit)</span>
              <span class="list-item__subtitle"><input class="text-input text-input--material" maxlength="4" placeholder="" type="text" ng-model="disconentry.meterno_last4"></span>
          </ons-list-item>
          <ons-list-item>
              <span class="list-item__title">Remark</span>
              <textarea class="textarea" rows="3" placeholder="" maxlength="50" ng-model="disconentry.remark"></textarea>
          </ons-list-item>
          <ons-list-item>
                <button class="button--large--cta" style="width: 95%; margin: 0 auto; background: #008a11;" ng-click="clickSuccess()">Successful Disconnection</button>
          </ons-list-item>
          <ons-list-item>
                <button class="button--large--cta" style="width: 95%; margin: 0 auto; background: red;" ng-click="doConfirmPending()">Unsuccessful Disconnection</button>
          </ons-list-item>
        </ons-list>

        <div class="dialog-mask dialog-mask--material" ng-show="showMOD"></div>
        <div class="dialog dialog--material" ng-show="showMOD" style="min-height:250px; min-width:370px;">
          <div class="dialog dialog-container--material" style="min-height:250px; min-width:370px;">
            <p style="margin-left:24px;margin-right:24px; padding-top: 10px;">Mode of Disconnection</p>
            <ul class="list">
              <li class="list-item list-item--tappable">
                <div class="list-item__left">
                  <label class="radio-button">
                    <input type="radio" id="r1" class="radio-button__input" name="rdiscon" checked>
                    <div class="radio-button__checkmark"></div>
                  </label>
                </div>
                <label for="r1" class="list-item__center">
                  DOF - Fuse
                </label>
              </li>
              <li class="list-item list-item--tappable">
                <div class="list-item__left">
                  <label class="radio-button">
                    <input type="radio" id="r2" class="radio-button__input" name="rdiscon">
                    <div class="radio-button__checkmark"></div>
                  </label>
                </div>
                <label for="r2" class="list-item__center">
                  DOM - Meter
                </label>
              </li>
              <li class="list-item list-item--tappable">
                <div class="list-item__left">
                  <label class="radio-button">
                    <input type="radio" id="r3" class="radio-button__input" name="rdiscon">
                    <div class="radio-button__checkmark"></div>
                  </label>
                </div>
                <label for="r3" class="list-item__center">
                  DOW -  Wire
                </label>
              </li>
            </ul>
            <div class="alert-dialog-footer alert-dialog-footer--material">
              <button class="alert-dialog-button alert-dialog-button--material" ng-click="clickOKMOD()">OK</button>
              <button class="alert-dialog-button alert-dialog-button--material" ng-click="clickCancelMOD()">CANCEL</button>
            </div>
          </div>
        </div>

        <div class="dialog-mask dialog-mask--material" ng-show="showReason"></div>
        <div class="dialog dialog--material" ng-show="showReason" style="min-height:360px; min-width:400px;">
          <div class="dialog dialog-container--material" style="min-height:360px; min-width:400px;">
            <p style="margin-left:24px;margin-right:24px; padding-top: 10px;">Reason of unsuccessful disconnection</p>
            <ul class="list">
              <li class="list-item list-item--tappable">
                <div class="list-item__left">
                  <label class="radio-button">
                    <input type="radio" id="reason1" class="radio-button__input" name="r" checked="checked">
                    <div class="radio-button__checkmark"></div>
                  </label>
                </div>
                <label for="reason1" class="list-item__center">
                  Reason 1
                </label>
              </li>
              <li class="list-item list-item--tappable">
                <div class="list-item__left">
                  <label class="radio-button">
                    <input type="radio" id="reason2" class="radio-button__input" name="r">
                    <div class="radio-button__checkmark"></div>
                  </label>
                </div>
                <label for="reason2" class="list-item__center">
                  Reason 2
                </label>
              </li>
              <li class="list-item list-item--tappable">
                <div class="list-item__left">
                  <label class="radio-button">
                    <input type="radio" id="reason3" class="radio-button__input" name="r">
                    <div class="radio-button__checkmark"></div>
                  </label>
                </div>
                <label for="reason3" class="list-item__center">
                  Reason 3
                </label>
              </li>
              <li class="list-item list-item--tappable">
                <div class="list-item__left">
                  <label class="radio-button">
                    <input type="radio" id="reason99" class="radio-button__input" name="r">
                    <div class="radio-button__checkmark"></div>
                  </label>
                </div>
                <label for="reason99" class="list-item__center">
                  Other reason
                </label>
              </li>
              <div style="margin-left: 70px;">
                <textarea id="reasontext" class="textarea" rows="3" placeholder="Describe you reason" style="width: 85%;" ng-model="reason.text"></textarea>
              </div>
            </ul>
            <div class="alert-dialog-footer alert-dialog-footer--material">
              <button class="alert-dialog-button alert-dialog-button--material" ng-click="clickOKReason()">OK</button>
              <button class="alert-dialog-button alert-dialog-button--material" ng-click="clickCancelReason()">CANCEL</button>
            </div>
          </div>
        </div>


        <div class="alert-dialog-mask alert-dialog-mask--material" ng-show="infoDlgShow"></div>
        <div class="alert-dialog alert-dialog--material" ng-show="infoDlgShow">
          <div class="alert-dialog-container alert-dialog-container--material">
            <div class="alert-dialog-title alert-dialog-title--material">
              {{infoDlgTitle}}
            </div>
            <div class="alert-dialog-content alert-dialog-content--material">
              {{infoDlgBody}}
            </div>
            <div class="alert-dialog-footer alert-dialog-footer--material">
              <button class="alert-dialog-button alert-dialog-button--material" ng-click="backTab1Detail()">OK</button>
            </div>
          </div>
        </div>


        <!--
        <p>This is the second page.</p>

        <input type="file" ng-model-instant onchange="angular.element(this).scope().imageUpload(event)" name="file"
             accept="image/*" capture="camera"><img ng-src="data:image/png;base64,{{imgCaptured}}" />
        <ons-button ng-click="backTab1Detail()">go back!</ons-button>
        <ons-button ng-click="getCameraImage()">camera!</ons-button> -->
      </ons-page>
    </template>



    <p style="text-align: center;">
      <ons-button ng-click="showAlert('Hello world!', 'OK')">Click me!</ons-button>
    </p>
    <ons-toast var="toast">
      {{toastMsg}}<button ng-click="toast.hide()">{{toastBtn}}</button>
    </ons-toast>
  </ons-page>
</template>

<template id="action-sheet.html">
  <ons-action-sheet id="sheet" cancelable title="Select image from..." var="imageSheet">
    <ons-action-sheet-button icon="md-camera" onclick="takeCamera()">Camera</ons-action-sheet-button>
    <ons-action-sheet-button icon="md-collection-image" onclick="takeGallery()">Gallery</ons-action-sheet-button>
    <ons-action-sheet-button icon="md-close" onclick="imageSheet.hide()">Cancel</ons-action-sheet-button>
  </ons-action-sheet>
</template>

<template id="action-sheet-prog.html">
  <ons-action-sheet id="sheetProg" cancelable title="Update progress..." var="imageSheetProg">
    <ons-action-sheet-button icon="md-check-circle" onclick="doConfirmSuccess()">{{successWording}}</ons-action-sheet-button>
    <ons-action-sheet-button icon="md-tag-close" onclick="doConfirmPending()">{{pendingWording}}</ons-action-sheet-button>
    <ons-action-sheet-button icon="md-close" onclick="imageSheet.hide()">Cancel</ons-action-sheet-button>
  </ons-action-sheet>
</template>

<template id="tab2.html">
  <ons-page id="Tab2">
    <ons-navigator swipeable var="myNavigator2" page="tab2list.html"></ons-navigator>
    <!--
    <div>
      <div class="card" ng-repeat="job in assJobs" ng-click="myNavigator.pushPage('page2.html', {data: {title: 'Page 2'}})" tappable>
        <h2 class="card__title" style="font-size: 18px; font-weight: 700; margin-top: 5px; margin-bottom: 5px;">{{job.customer}}</h2>
        <div class="card__content" style="margin-top: 0px; margin-bottom: 0px;">
          <p style="margin-top: 0px; margin-bottom: 0px;">{{job.addrs1}}, {{job.addrs2}}, {{job.addrs3}}</p>
          <p style="margin-top: 0px; margin-bottom: 0px;"><span><strong>SO #</strong>: {{job.sono}}</span><span style="margin-left: 20px;"><strong>Account #</strong>: {{job.acctno}}</span></p>
          <p style="margin-top: 0px; margin-bottom: 0px;"><span><strong>Tiang #</strong>: {{job.tiangno}}</span><span style="margin-left: 20px;"><strong>Meter #</strong>: {{job.meterno}}</span></p>
          <p style="margin-top: 0px; margin-bottom: 5px;"><span><strong>Remark</strong>: {{job.remark}}</span></span></p>
        </div>
      </div>
    </div>
-->

    <template id="tab2list.html">
      <ons-page ons-show="onshow('tab2list')">
        <div>
          <div class="card" ng-repeat="job in pendJobs" ng-click="doPushPage('tab2detail', job.id)" tappable>
            <h2 class="card__title" style="font-size: 18px; font-weight: 700; margin-top: 5px; margin-bottom: 5px;">{{job.customer}}</h2>
            <div class="card__content" style="margin-top: 0px; margin-bottom: 0px;">
              <p style="margin-top: 0px; margin-bottom: 0px;">{{job.addrs1}}, {{job.addrs2}}, {{job.addrs3}}</p>
              <p style="margin-top: 0px; margin-bottom: 0px;"><span><strong>SO #</strong>: {{job.sono}}</span><span style="margin-left: 20px;"><strong>Account #</strong>: {{job.acctno}}</span></p>
              <p style="margin-top: 0px; margin-bottom: 0px;"><span><strong>Tiang #</strong>: {{job.tiangno}}</span><span style="margin-left: 20px;"><strong>Meter #</strong>: {{job.meterno}}</span></p>
              <p style="margin-top: 0px; margin-bottom: 5px;"><span><strong>Remark</strong>: {{job.remark}}</span></span></p>
            </div>
          </div>
        </div>
        <p style="margin-top: 30px; text-align: center;" ng-show="getPendingCount()==undefined">No item</p>
        <!--
        <p>This is the first page.</p>
        <ons-button ng-click="myNavigator.pushPage('tab1detail.html', {data: {title: 'Page 2'}})">Push page</ons-button>
      -->
      </ons-page>
    </template>

    <template id="tab2detail.html">
      <ons-page ons-show="onshow('tab2detail')" ons-hide="onhide('tab2detail')">
        <ons-list>
          <ons-list-header style="font-size: 18px; padding-top: 20px;">{{getCurData().customer}}</ons-list-header>
          <ons-list-item>
              <span class="list-item__title">Address</span><span class="list-item__subtitle">{{getCurData().addrs1 + "," + getCurData().addrs2 + "," + getCurData().addrs3}}</span>
          </ons-list-item>
          <ons-list-item>
              <span class="list-item__title">Type of Premise</span><span class="list-item__subtitle">{{getCurData().top}}</span>
          </ons-list-item>
          <ons-list-item>
              <span class="list-item__title">SO #</span><span class="list-item__subtitle">{{getCurData().sono}}</span>
          </ons-list-item>
          <ons-list-item>
              <span class="list-item__title">Account #</span><span class="list-item__subtitle">{{getCurData().acctno}}</span>
          </ons-list-item>
          <ons-list-item>
              <span class="list-item__title">Arrears (RM)</span>
              <span class="list-item__subtitle"><strong>OB:</strong> {{getCurData().ar_ob | number:2}}</span>
              <span class="list-item__subtitle"><strong>AD:</strong> {{getCurData().ar_ad | number:2}}</span>
              <span class="list-item__subtitle"><strong>RD:</strong> {{getCurData().ar_rd | number:2}}</span>
          </ons-list-item>
          <ons-list-item>
              <span class="list-item__title">Image</span>
              <div style="margin-top:10px;">
                <img ng-src="data:image/png;base64,{{getTN(0)}}" ng-hide="getTNReadOnly(0)=='null'" height="120px" />
                <img ng-src="data:image/png;base64,{{getTN(1)}}" ng-hide="getTNReadOnly(1)=='null'" height="120px" />
                <p style="margin-top: 0px; margin-left: 20px; font-size: 12px;" ng-show="getTNReadOnly(0)=='null' && getTNReadOnly(1)=='null'">No image</p>
              </div>
          </ons-list-item>
          <ons-list-item>
              <span class="list-item__title">Meter Reading</span>
              <span class="list-item__subtitle">{{getCurData().meter_reading}}</span>
          </ons-list-item>
          <ons-list-item>
              <span class="list-item__title">Meter #</span>
              <span class="list-item__subtitle">{{getCurData().meterno}}</span>
          </ons-list-item>
          <ons-list-item>
            <p style="margin: auto;">Pending: {{getCurData().pending_ts}}</p>
          </ons-list-item>
        </ons-list>
      </ons-page>
    </template>



    <p style="text-align: center;">
      <ons-button ng-click="showAlert('Hello world!', 'OK')">Click me!</ons-button>
    </p>
    <ons-toast var="toast">
      {{toastMsg}}<button ng-click="toast.hide()">{{toastBtn}}</button>
    </ons-toast>
  </ons-page>
</template>


<template id="tab3.html">
  <ons-page id="Tab3">
    <ons-navigator swipeable var="myNavigator3" page="tab3list.html"></ons-navigator>
    <!--
    <div>
      <div class="card" ng-repeat="job in assJobs" ng-click="myNavigator.pushPage('page2.html', {data: {title: 'Page 2'}})" tappable>
        <h2 class="card__title" style="font-size: 18px; font-weight: 700; margin-top: 5px; margin-bottom: 5px;">{{job.customer}}</h2>
        <div class="card__content" style="margin-top: 0px; margin-bottom: 0px;">
          <p style="margin-top: 0px; margin-bottom: 0px;">{{job.addrs1}}, {{job.addrs2}}, {{job.addrs3}}</p>
          <p style="margin-top: 0px; margin-bottom: 0px;"><span><strong>SO #</strong>: {{job.sono}}</span><span style="margin-left: 20px;"><strong>Account #</strong>: {{job.acctno}}</span></p>
          <p style="margin-top: 0px; margin-bottom: 0px;"><span><strong>Tiang #</strong>: {{job.tiangno}}</span><span style="margin-left: 20px;"><strong>Meter #</strong>: {{job.meterno}}</span></p>
          <p style="margin-top: 0px; margin-bottom: 5px;"><span><strong>Remark</strong>: {{job.remark}}</span></span></p>
        </div>
      </div>
    </div>
-->

    <template id="tab3list.html">
      <ons-page ons-show="onshow('tab3list')">
        <div>
          <div class="card" ng-repeat="job in compJobs" ng-click="doPushPage('tab3detail', job.id)" tappable>
            <h2 class="card__title" style="font-size: 18px; font-weight: 700; margin-top: 5px; margin-bottom: 5px;">{{job.customer}}</h2>
            <div class="card__content" style="margin-top: 0px; margin-bottom: 0px;">
              <p style="margin-top: 0px; margin-bottom: 0px;">{{job.addrs1}}, {{job.addrs2}}, {{job.addrs3}}</p>
              <p style="margin-top: 0px; margin-bottom: 0px;"><span><strong>SO #</strong>: {{job.sono}}</span><span style="margin-left: 20px;"><strong>Account #</strong>: {{job.acctno}}</span></p>
              <p style="margin-top: 0px; margin-bottom: 0px;"><span><strong>Tiang #</strong>: {{job.tiangno}}</span><span style="margin-left: 20px;"><strong>Meter #</strong>: {{job.meterno}}</span></p>
              <p style="margin-top: 0px; margin-bottom: 5px;"><span><strong>Remark</strong>: {{job.remark}}</span></span></p>
            </div>
          </div>
        </div>
        <p style="margin-top: 30px; text-align: center;" ng-show="getCompleteCount()==undefined">No item</p>
        <!--
        <p>This is the first page.</p>
        <ons-button ng-click="myNavigator.pushPage('tab1detail.html', {data: {title: 'Page 2'}})">Push page</ons-button>
      -->
      </ons-page>
    </template>

    <template id="tab3detail.html">
      <ons-page ons-show="onshow('tab3detail')" ons-hide="onhide('tab3detail')">
        <ons-list>
          <ons-list-header style="font-size: 18px; padding-top: 20px;">{{getCurData().customer}}</ons-list-header>
          <ons-list-item>
              <span class="list-item__title">Address</span><span class="list-item__subtitle">{{getCurData().addrs1 + "," + getCurData().addrs2 + "," + getCurData().addrs3}}</span>
          </ons-list-item>
          <ons-list-item>
              <span class="list-item__title">Type of Premise</span><span class="list-item__subtitle">{{getCurData().top}}</span>
          </ons-list-item>
          <ons-list-item>
              <span class="list-item__title">SO #</span><span class="list-item__subtitle">{{getCurData().sono}}</span>
          </ons-list-item>
          <ons-list-item>
              <span class="list-item__title">Account #</span><span class="list-item__subtitle">{{getCurData().acctno}}</span>
          </ons-list-item>
          <ons-list-item>
              <span class="list-item__title">Arrears (RM)</span>
              <span class="list-item__subtitle"><strong>OB:</strong> {{getCurData().ar_ob | number:2}}</span>
              <span class="list-item__subtitle"><strong>AD:</strong> {{getCurData().ar_ad | number:2}}</span>
              <span class="list-item__subtitle"><strong>RD:</strong> {{getCurData().ar_rd | number:2}}</span>
          </ons-list-item>
          <ons-list-item>
              <span class="list-item__title">Image</span>
              <div style="margin-top:10px;">
                <img ng-src="data:image/png;base64,{{getTN(0)}}" ng-hide="getTNReadOnly(0)=='null'" height="120px" />
                <img ng-src="data:image/png;base64,{{getTN(1)}}" ng-hide="getTNReadOnly(1)=='null'" height="120px" />
                <p style="margin-top: 0px; margin-left: 20px; font-size: 12px;" ng-show="getTNReadOnly(0)=='null' && getTNReadOnly(1)=='null'">No image</p>
              </div>
          </ons-list-item>
          <ons-list-item>
              <span class="list-item__title">Meter Reading</span>
              <span class="list-item__subtitle">{{getCurData().meter_reading}}</span>
          </ons-list-item>
          <ons-list-item>
              <span class="list-item__title">Meter #</span>
              <span class="list-item__subtitle">{{getCurData().meterno}}</span>
          </ons-list-item>
          <ons-list-item>
            <p style="margin: auto;">Completed: {{getCurData().success_ts}}</p>
          </ons-list-item>
        </ons-list>
      </ons-page>
    </template>



    <p style="text-align: center;">
      <ons-button ng-click="showAlert('Hello world!', 'OK')">Click me!</ons-button>
    </p>
    <ons-toast var="toast">
      {{toastMsg}}<button ng-click="toast.hide()">{{toastBtn}}</button>
    </ons-toast>
  </ons-page>
</template>


<!-- ********************  RECONNECTION ******************************************* -->



<template id="settings.html">
  <ons-page>
    <ons-toolbar>
      <div class="left">
        <ons-toolbar-button ng-click="mySplitter.left.open()">
          <ons-icon icon="md-menu"></ons-icon>
        </ons-toolbar-button>
      </div>
      <div class="center">
        TNB MoDis - Reconnection
      </div>
    </ons-toolbar>
    <ons-tabbar swipeable position="auto" ons-prechange="updateTitle($event)">
      <!--
      <ons-tab page="tab1recon.html" label="Assigned" badge="{{getAssCountRecon()}}" active>
      </ons-tab>
      <ons-tab page="tab2recon.html" label="Pending" badge="{{getPendingCountRecon()}}">
      </ons-tab>
      <ons-tab page="tab3recon.html" label="Completed" badge="{{getCompleteCountRecon()}}">
      </ons-tab> -->
      <ons-tab page="tab1recon.html">
        <input type="radio" style="display: none">
        <button class="tabbar__button">
          <div class="tabbar__label">Assigned</div>
          <div class="tabbar__badge notification">{{getAssCountRecon()}}</div>
        </button>
      </ons-tab>
      <ons-tab page="tab2recon.html">
        <input type="radio" style="display: none">
        <button class="tabbar__button">
          <div class="tabbar__label">Pending</div>
          <div class="tabbar__badge notification" style="background-color: #b9b6b6;">{{getPendingCountRecon()}}</div>
        </button>
      </ons-tab>
      <ons-tab page="tab3recon.html">
        <input type="radio" style="display: none">
        <button class="tabbar__button">
          <div class="tabbar__label">Completed</div>
          <div class="tabbar__badge notification" style="background-color: #b9b6b6;">{{getCompleteCountRecon()}}</div>
        </button>
      </ons-tab>
    </ons-tabbar>
    <p style="text-align: center; opacity: 0.6; padding-top: 20px;">
      Swipe right to open the menu!
    </p>
  </ons-page>
</template>


<template id="tab1recon.html">
  <ons-page id="Tab1recon">
    <ons-navigator swipeable var="myNavigatorRecon" page="tab1listRecon.html"></ons-navigator>
    <!--
    <div>
      <div class="card" ng-repeat="job in assJobs" ng-click="myNavigator.pushPage('page2.html', {data: {title: 'Page 2'}})" tappable>
        <h2 class="card__title" style="font-size: 18px; font-weight: 700; margin-top: 5px; margin-bottom: 5px;">{{job.customer}}</h2>
        <div class="card__content" style="margin-top: 0px; margin-bottom: 0px;">
          <p style="margin-top: 0px; margin-bottom: 0px;">{{job.addrs1}}, {{job.addrs2}}, {{job.addrs3}}</p>
          <p style="margin-top: 0px; margin-bottom: 0px;"><span><strong>SO #</strong>: {{job.sono}}</span><span style="margin-left: 20px;"><strong>Account #</strong>: {{job.acctno}}</span></p>
          <p style="margin-top: 0px; margin-bottom: 0px;"><span><strong>Tiang #</strong>: {{job.tiangno}}</span><span style="margin-left: 20px;"><strong>Meter #</strong>: {{job.meterno}}</span></p>
          <p style="margin-top: 0px; margin-bottom: 5px;"><span><strong>Remark</strong>: {{job.remark}}</span></span></p>
        </div>
      </div>
    </div>
-->

    <template id="tab1listRecon.html">
      <ons-page ons-show="onshowrecon('tab1listRecon')">
        <div>
          <div class="card" ng-repeat="job in assJobsRecon" ng-click="doPushPageRecon('tab1detailRecon', job.id)" tappable>
            <h2 class="card__title" style="font-size: 18px; font-weight: 700; margin-top: 5px; margin-bottom: 5px;">{{job.customer}}</h2>
            <div class="card__content" style="margin-top: 0px; margin-bottom: 0px;">
              <p style="margin-top: 0px; margin-bottom: 0px;">{{job.addrs1}}, {{job.addrs2}}, {{job.addrs3}}</p>
              <p style="margin-top: 0px; margin-bottom: 0px;"><span><strong>SO #</strong>: {{job.sono}}</span><span style="margin-left: 20px;"><strong>Account #</strong>: {{job.acctno}}</span></p>
              <p style="margin-top: 0px; margin-bottom: 0px;"><span><strong>Tiang #</strong>: {{job.tiangno}}</span><span style="margin-left: 20px;"><strong>Meter #</strong>: {{job.meterno}}</span></p>
              <p style="margin-top: 0px; margin-bottom: 5px;"><span><strong>Remark</strong>: {{job.remark}}</span></span></p>
            </div>
          </div>
        </div>
        <p style="margin-top: 30px; text-align: center;" ng-show="getAssCountRecon()==undefined">No item</p>
        <!--
        <p>This is the first page.</p>
        <ons-button ng-click="myNavigator.pushPage('tab1detail.html', {data: {title: 'Page 2'}})">Push page</ons-button>
      -->
      </ons-page>
    </template>

    <template id="tab1detailRecon.html">
      <ons-page ons-show="onshowrecon('tab1detailRecon')"  ons-hide="onhiderecon('tab1detailRecon')">
        <ons-list>
          <ons-list-header style="font-size: 18px; padding-top: 20px;">{{getCurDataRecon().customer}}</ons-list-header>
          <ons-list-item>
              <span class="list-item__title">Address</span><span class="list-item__subtitle">{{getCurDataRecon().addrs1 + "," + getCurDataRecon().addrs2 + "," + getCurDataRecon().addrs3}}</span>
          </ons-list-item>
          <ons-list-item>
              <span class="list-item__title">Type of Premise</span><span class="list-item__subtitle">{{getCurDataRecon().top}}</span>
          </ons-list-item>
          <ons-list-item>
              <span class="list-item__title">Meter #</span><span class="list-item__subtitle">{{getCurDataRecon().meterno}}</span>
          </ons-list-item>
          <ons-list-item>
              <span class="list-item__title">SO #</span><span class="list-item__subtitle">{{getCurDataRecon().sono}}</span>
          </ons-list-item>
          <ons-list-item>
              <span class="list-item__title">Account #</span><span class="list-item__subtitle">{{getCurDataRecon().acctno}}</span>
          </ons-list-item>
          <ons-list-item>
              <span class="list-item__title">Image</span>
              <div style="margin-top:10px;">
                <img ng-src="data:image/png;base64,{{getTN(0)}}" height="120px" ng-click="test(0)" />
                <img ng-src="data:image/png;base64,{{getTN(1)}}" height="120px" ng-click="test(1)" />
              </div>
          </ons-list-item>
          <ons-list-item>
              <span class="list-item__title">Reconnection Meter Reading</span>
              <span class="list-item__subtitle"><input class="text-input text-input--material" placeholder="" type="text" ng-model="disconentry.meter_reading"></span>
          </ons-list-item>
          <ons-list-item>
              <span class="list-item__title">Meter # (last 4 digit)</span>
              <span class="list-item__subtitle"><input maxlength="4" class="text-input text-input--material" placeholder="" type="text" ng-model="disconentry.meterno_last4"></span>
          </ons-list-item>
          <ons-list-item>
              <span class="list-item__title">Remark</span>
              <textarea class="textarea" rows="3" placeholder="" maxlength="50" ng-model="disconentry.remark"></textarea>
          </ons-list-item>
          <ons-list-item>
                <button class="button--large--cta" style="width: 95%; margin: 0 auto; background: #008a11;" ng-click="clickSuccessRecon()">Successful Reconnection</button>
          </ons-list-item>
          <ons-list-item>
                <button class="button--large--cta" style="width: 95%; margin: 0 auto; background: red;" ng-click="doConfirmPending()">Unsuccessful Reconnection</button>
          </ons-list-item>
        </ons-list>

        <div class="dialog-mask dialog-mask--material" ng-show="showMODRecon"></div>
        <div class="dialog dialog--material" ng-show="showMODRecon" style="min-height:250px; min-width:370px;">
          <div class="dialog dialog-container--material" style="min-height:250px; min-width:370px;">
            <p style="margin-left:24px;margin-right:24px; padding-top: 10px;">Mode of Reconnection</p>
            <ul class="list">
              <li class="list-item list-item--tappable">
                <div class="list-item__left">
                  <label class="radio-button">
                    <input type="radio" id="r1recon" class="radio-button__input" name="rrecon" checked>
                    <div class="radio-button__checkmark"></div>
                  </label>
                </div>
                <label for="r1recon" class="list-item__center">
                  DOF - Fuse
                </label>
              </li>
              <li class="list-item list-item--tappable">
                <div class="list-item__left">
                  <label class="radio-button">
                    <input type="radio" id="r2recon" class="radio-button__input" name="rrecon">
                    <div class="radio-button__checkmark"></div>
                  </label>
                </div>
                <label for="r2recon" class="list-item__center">
                  DOM - Meter
                </label>
              </li>
              <li class="list-item list-item--tappable">
                <div class="list-item__left">
                  <label class="radio-button">
                    <input type="radio" id="r3recon" class="radio-button__input" name="rrecon">
                    <div class="radio-button__checkmark"></div>
                  </label>
                </div>
                <label for="r3recon" class="list-item__center">
                  DOW -  Wire
                </label>
              </li>
            </ul>
            <div class="alert-dialog-footer alert-dialog-footer--material">
              <button class="alert-dialog-button alert-dialog-button--material" ng-click="clickOKMODRecon()">OK</button>
              <button class="alert-dialog-button alert-dialog-button--material" ng-click="clickCancelMODRecon()">CANCEL</button>
            </div>
          </div>
        </div>


        <div class="dialog-mask dialog-mask--material" ng-show="showReasonRecon"></div>
        <div class="dialog dialog--material" ng-show="showReasonRecon" style="min-height:360px; min-width:400px;">
          <div class="dialog dialog-container--material" style="min-height:360px; min-width:400px;">
            <p style="margin-left:24px;margin-right:24px; padding-top: 10px;">Reason of pending reconnection</p>
            <ul class="list">
              <li class="list-item list-item--tappable">
                <div class="list-item__left">
                  <label class="radio-button">
                    <input type="radio" id="reason1recon" class="radio-button__input" name="r" checked="checked">
                    <div class="radio-button__checkmark"></div>
                  </label>
                </div>
                <label for="reason1" class="list-item__center">
                  Reason 1
                </label>
              </li>
              <li class="list-item list-item--tappable">
                <div class="list-item__left">
                  <label class="radio-button">
                    <input type="radio" id="reason2recon" class="radio-button__input" name="r">
                    <div class="radio-button__checkmark"></div>
                  </label>
                </div>
                <label for="reason2" class="list-item__center">
                  Reason 2
                </label>
              </li>
              <li class="list-item list-item--tappable">
                <div class="list-item__left">
                  <label class="radio-button">
                    <input type="radio" id="reason3recon" class="radio-button__input" name="r">
                    <div class="radio-button__checkmark"></div>
                  </label>
                </div>
                <label for="reason3" class="list-item__center">
                  Reason 3
                </label>
              </li>
              <li class="list-item list-item--tappable">
                <div class="list-item__left">
                  <label class="radio-button">
                    <input type="radio" id="reason99recon" class="radio-button__input" name="r">
                    <div class="radio-button__checkmark"></div>
                  </label>
                </div>
                <label for="reason99" class="list-item__center">
                  Other reason
                </label>
              </li>
              <div style="margin-left: 70px;">
                <textarea id="reasontext" class="textarea" rows="3" placeholder="Describe you reason" style="width: 85%;" ng-model="reasonRecon.text"></textarea>
              </div>
            </ul>
            <div class="alert-dialog-footer alert-dialog-footer--material">
              <button class="alert-dialog-button alert-dialog-button--material" ng-click="clickOKReasonRecon()">OK</button>
              <button class="alert-dialog-button alert-dialog-button--material" ng-click="clickCancelReasonRecon()">CANCEL</button>
            </div>
          </div>
        </div>


        <div class="alert-dialog-mask alert-dialog-mask--material" ng-show="infoDlgShowRecon"></div>
        <div class="alert-dialog alert-dialog--material" ng-show="infoDlgShowRecon">
          <div class="alert-dialog-container alert-dialog-container--material">
            <div class="alert-dialog-title alert-dialog-title--material">
              {{infoDlgTitle}}
            </div>
            <div class="alert-dialog-content alert-dialog-content--material">
              {{infoDlgBody}}
            </div>
            <div class="alert-dialog-footer alert-dialog-footer--material">
              <button class="alert-dialog-button alert-dialog-button--material" ng-click="backTab1DetailRecon()">OK</button>
            </div>
          </div>
        </div>

      </ons-page>
    </template>




    <!--
    <p style="text-align: center;">
      <ons-button ng-click="showAlert('Hello world!', 'OK')">Click me!</ons-button>
    </p>
    <ons-toast var="toast">
      {{toastMsg}}<button ng-click="toast.hide()">{{toastBtn}}</button>
    </ons-toast> -->
  </ons-page>
</template>

<template id="action-sheet.html">
  <ons-action-sheet id="sheet" cancelable title="Select image from..." var="imageSheet">
    <ons-action-sheet-button icon="md-camera" onclick="takeCamera()">Camera</ons-action-sheet-button>
    <ons-action-sheet-button icon="md-collection-image" onclick="takeGallery()">Gallery</ons-action-sheet-button>
    <ons-action-sheet-button icon="md-close" onclick="imageSheet.hide()">Cancel</ons-action-sheet-button>
  </ons-action-sheet>
</template>

<!--
<template id="action-sheet-prog.html">
  <ons-action-sheet id="sheetProg" cancelable title="Update progress..." var="imageSheetProg">
    <ons-action-sheet-button icon="md-check-circle" onclick="doConfirmSuccess()">Success Disconnection</ons-action-sheet-button>
    <ons-action-sheet-button icon="md-tag-close" onclick="doConfirmPending()">Pending Disconnection</ons-action-sheet-button>
    <ons-action-sheet-button icon="md-close" onclick="imageSheet.hide()">Cancel</ons-action-sheet-button>
  </ons-action-sheet>
</template>
-->
<template id="tab2recon.html">
  <ons-page id="Tab2">
    <ons-navigator swipeable var="myNavigator2Recon" page="tab2listRecon.html"></ons-navigator>
    <!--
    <div>
      <div class="card" ng-repeat="job in assJobs" ng-click="myNavigator.pushPage('page2.html', {data: {title: 'Page 2'}})" tappable>
        <h2 class="card__title" style="font-size: 18px; font-weight: 700; margin-top: 5px; margin-bottom: 5px;">{{job.customer}}</h2>
        <div class="card__content" style="margin-top: 0px; margin-bottom: 0px;">
          <p style="margin-top: 0px; margin-bottom: 0px;">{{job.addrs1}}, {{job.addrs2}}, {{job.addrs3}}</p>
          <p style="margin-top: 0px; margin-bottom: 0px;"><span><strong>SO #</strong>: {{job.sono}}</span><span style="margin-left: 20px;"><strong>Account #</strong>: {{job.acctno}}</span></p>
          <p style="margin-top: 0px; margin-bottom: 0px;"><span><strong>Tiang #</strong>: {{job.tiangno}}</span><span style="margin-left: 20px;"><strong>Meter #</strong>: {{job.meterno}}</span></p>
          <p style="margin-top: 0px; margin-bottom: 5px;"><span><strong>Remark</strong>: {{job.remark}}</span></span></p>
        </div>
      </div>
    </div>
-->

    <template id="tab2listRecon.html">
      <ons-page ons-show="onshowrecon('tab2listRecon')">
        <div>
          <div class="card" ng-repeat="job in pendJobsRecon" ng-click="doPushPageRecon('tab2detailRecon', job.id)" tappable>
            <h2 class="card__title" style="font-size: 18px; font-weight: 700; margin-top: 5px; margin-bottom: 5px;">{{job.customer}}</h2>
            <div class="card__content" style="margin-top: 0px; margin-bottom: 0px;">
              <p style="margin-top: 0px; margin-bottom: 0px;">{{job.addrs1}}, {{job.addrs2}}, {{job.addrs3}}</p>
              <p style="margin-top: 0px; margin-bottom: 0px;"><span><strong>SO #</strong>: {{job.sono}}</span><span style="margin-left: 20px;"><strong>Account #</strong>: {{job.acctno}}</span></p>
              <p style="margin-top: 0px; margin-bottom: 0px;"><span><strong>Tiang #</strong>: {{job.tiangno}}</span><span style="margin-left: 20px;"><strong>Meter #</strong>: {{job.meterno}}</span></p>
              <p style="margin-top: 0px; margin-bottom: 5px;"><span><strong>Reason</strong>: {{getReasonRecon(job.id)}}</span></span></p>
            </div>
          </div>
        </div>
        <p style="margin-top: 30px; text-align: center;" ng-show="getPendingCountRecon()==undefined">No item</p>
        <!--
        <p>This is the first page.</p>
        <ons-button ng-click="myNavigator.pushPage('tab1detail.html', {data: {title: 'Page 2'}})">Push page</ons-button>
      -->
      </ons-page>
    </template>

    <template id="tab2detailRecon.html">
      <ons-page ons-show="onshowrecon('tab2detailRecon')" ons-hide="onhiderecon('tab2detailRecon')">
        <ons-list>
          <ons-list-header style="font-size: 18px; padding-top: 20px;">{{getCurDataRecon().customer}}</ons-list-header>
          <ons-list-item>
              <span class="list-item__title">Address</span><span class="list-item__subtitle">{{getCurDataRecon().addrs1 + "," + getCurDataRecon().addrs2 + "," + getCurDataRecon().addrs3}}</span>
          </ons-list-item>
          <ons-list-item>
              <span class="list-item__title">Type of Premise</span><span class="list-item__subtitle">{{getCurDataRecon().top}}</span>
          </ons-list-item>
          <ons-list-item>
              <span class="list-item__title">SO #</span><span class="list-item__subtitle">{{getCurDataRecon().sono}}</span>
          </ons-list-item>
          <ons-list-item>
              <span class="list-item__title">Account #</span><span class="list-item__subtitle">{{getCurDataRecon().acctno}}</span>
          </ons-list-item>
          <ons-list-item>
              <span class="list-item__title">Image</span>
              <div style="margin-top:10px;">
                <img ng-src="data:image/png;base64,{{getTN(0)}}" ng-hide="getTNReadOnly(0)=='null'" height="120px" />
                <img ng-src="data:image/png;base64,{{getTN(1)}}" ng-hide="getTNReadOnly(1)=='null'" height="120px" />
                <p style="margin-top: 0px; margin-left: 20px; font-size: 12px;" ng-show="getTNReadOnly(0)=='null' && getTNReadOnly(1)=='null'">No image</p>
              </div>
          </ons-list-item>
          <ons-list-item>
              <span class="list-item__title">Meter Reading</span>
              <span class="list-item__subtitle">{{getCurDataRecon().meter_reading}}</span>
          </ons-list-item>
          <ons-list-item>
              <span class="list-item__title">Meter #</span>
              <span class="list-item__subtitle">{{getCurDataRecon().meterno}}</span>
          </ons-list-item>
          <ons-list-item>
              <span class="list-item__title">Reason for pending reconnection</span>
              <span class="list-item__subtitle">{{getReasonRecon("")}}</span>
          </ons-list-item>
          <ons-list-item>
            <p style="margin: auto;">Pending: {{getCurDataRecon().pending_ts}}</p>
          </ons-list-item>
        </ons-list>
      </ons-page>
    </template>



    <p style="text-align: center;">
      <ons-button ng-click="showAlert('Hello world!', 'OK')">Click me!</ons-button>
    </p>
    <ons-toast var="toast">
      {{toastMsg}}<button ng-click="toast.hide()">{{toastBtn}}</button>
    </ons-toast>
  </ons-page>
</template>


<template id="tab3recon.html">
  <ons-page id="Tab3">
    <ons-navigator swipeable var="myNavigator3Recon" page="tab3listRecon.html"></ons-navigator>
    <!--
    <div>
      <div class="card" ng-repeat="job in assJobs" ng-click="myNavigator.pushPage('page2.html', {data: {title: 'Page 2'}})" tappable>
        <h2 class="card__title" style="font-size: 18px; font-weight: 700; margin-top: 5px; margin-bottom: 5px;">{{job.customer}}</h2>
        <div class="card__content" style="margin-top: 0px; margin-bottom: 0px;">
          <p style="margin-top: 0px; margin-bottom: 0px;">{{job.addrs1}}, {{job.addrs2}}, {{job.addrs3}}</p>
          <p style="margin-top: 0px; margin-bottom: 0px;"><span><strong>SO #</strong>: {{job.sono}}</span><span style="margin-left: 20px;"><strong>Account #</strong>: {{job.acctno}}</span></p>
          <p style="margin-top: 0px; margin-bottom: 0px;"><span><strong>Tiang #</strong>: {{job.tiangno}}</span><span style="margin-left: 20px;"><strong>Meter #</strong>: {{job.meterno}}</span></p>
          <p style="margin-top: 0px; margin-bottom: 5px;"><span><strong>Remark</strong>: {{job.remark}}</span></span></p>
        </div>
      </div>
    </div>
-->

    <template id="tab3listRecon.html">
      <ons-page ons-show="onshowrecon('tab3listRecon')">
        <div>
          <div class="card" ng-repeat="job in compJobsRecon" ng-click="doPushPageRecon('tab3detailRecon', job.id)" tappable>
            <h2 class="card__title" style="font-size: 18px; font-weight: 700; margin-top: 5px; margin-bottom: 5px;">{{job.customer}}</h2>
            <div class="card__content" style="margin-top: 0px; margin-bottom: 0px;">
              <p style="margin-top: 0px; margin-bottom: 0px;">{{job.addrs1}}, {{job.addrs2}}, {{job.addrs3}}</p>
              <p style="margin-top: 0px; margin-bottom: 0px;"><span><strong>SO #</strong>: {{job.sono}}</span><span style="margin-left: 20px;"><strong>Account #</strong>: {{job.acctno}}</span></p>
              <p style="margin-top: 0px; margin-bottom: 0px;"><span><strong>Tiang #</strong>: {{job.tiangno}}</span><span style="margin-left: 20px;"><strong>Meter #</strong>: {{job.meterno}}</span></p>
              <p style="margin-top: 0px; margin-bottom: 5px;"><span><strong>Method of reconnection:</strong>{{getMOR(job.id)}}</span></span></p>
            </div>
          </div>
        </div>
        <p style="margin-top: 30px; text-align: center;" ng-show="getCompleteCountRecon()==undefined">No item</p>
        <!--
        <p>This is the first page.</p>
        <ons-button ng-click="myNavigator.pushPage('tab1detail.html', {data: {title: 'Page 2'}})">Push page</ons-button>
      -->
      </ons-page>
    </template>

    <template id="tab3detailRecon.html">
      <ons-page ons-show="onshowrecon('tab3detailRecon')" ons-hide="onhiderecon('tab3detailRecon')">
        <ons-list>
          <ons-list-header style="font-size: 18px; padding-top: 20px;">{{getCurDataRecon().customer}}</ons-list-header>
          <ons-list-item>
              <span class="list-item__title">Address</span><span class="list-item__subtitle">{{getCurDataRecon().addrs1 + "," + getCurDataRecon().addrs2 + "," + getCurDataRecon().addrs3}}</span>
          </ons-list-item>
          <ons-list-item>
              <span class="list-item__title">Type of Premise</span><span class="list-item__subtitle">{{getCurDataRecon().top}}</span>
          </ons-list-item>
          <ons-list-item>
              <span class="list-item__title">SO #</span><span class="list-item__subtitle">{{getCurDataRecon().sono}}</span>
          </ons-list-item>
          <ons-list-item>
              <span class="list-item__title">Account #</span><span class="list-item__subtitle">{{getCurDataRecon().acctno}}</span>
          </ons-list-item>
          <ons-list-item>
              <span class="list-item__title">Image</span>
              <div style="margin-top:10px;">
                <img ng-src="data:image/png;base64,{{getTN(0)}}" ng-hide="getTNReadOnly(0)=='null'" height="120px" />
                <img ng-src="data:image/png;base64,{{getTN(1)}}" ng-hide="getTNReadOnly(1)=='null'" height="120px" />
                <p style="margin-top: 0px; margin-left: 20px; font-size: 12px;" ng-show="getTNReadOnly(0)=='null' && getTNReadOnly(1)=='null'">No image</p>
              </div>
          </ons-list-item>
          <ons-list-item>
              <span class="list-item__title">Meter Reading</span>
              <span class="list-item__subtitle">{{getCurDataRecon().meter_reading}}</span>
          </ons-list-item>
          <ons-list-item>
              <span class="list-item__title">Meter #</span>
              <span class="list-item__subtitle">{{getCurDataRecon().meterno}}</span>
          </ons-list-item>
          <ons-list-item>
              <span class="list-item__title">Method of Reconnection</span>
              <span class="list-item__subtitle">{{getMOR("")}}</span>
          </ons-list-item>
          <ons-list-item>
            <p style="margin: auto;">Completed: {{getCurDataRecon().success_ts}}</p>
          </ons-list-item>
        </ons-list>
      </ons-page>
    </template>



    <p style="text-align: center;">
      <ons-button ng-click="showAlert('Hello world!', 'OK')">Click me!</ons-button>
    </p>
    <ons-toast var="toast">
      {{toastMsg}}<button ng-click="toast.hide()">{{toastBtn}}</button>
    </ons-toast>
  </ons-page>
</template>




<!--
<template id="settings.html">
  <ons-page>
    <ons-toolbar>
      <div class="left">
        <ons-toolbar-button ng-click="mySplitter.left.open()">
          <ons-icon icon="md-menu"></ons-icon>
        </ons-toolbar-button>
      </div>
      <div class="center">
        Settings
      </div>
    </ons-toolbar>
  </ons-page>
</template>
-->

<template id="about.html">
  <ons-page>
    <ons-toolbar>
      <div class="left">
        <ons-toolbar-button ng-click="mySplitter.left.open()">
          <ons-icon icon="md-menu"></ons-icon>
        </ons-toolbar-button>
      </div>
      <div class="center">
        About
      </div>
    </ons-toolbar>
  </ons-page>
</template>

<script type="text/javascript">

  var curImgIndex;
  var TOTALIMG = 2;
  var curImages = ["null", "null"];
  //var TARGET = "browser";
  var TARGET = "device";

  function showAndroidToast(customer, addrs1, addrs2, addrs3, acctno, orderno, ob, ad, rd, img1, img2, printImg, imgSize) {
    AndroidInterface.showToast(customer, addrs1, addrs2, addrs3, acctno, orderno, ob, ad, rd, img1, img2, printImg, imgSize);
  }

  function printDisconFail(customer, addrs1, addrs2, addrs3, acctno, orderno, ob, ad, rd, img1, img2, printImg, imgSize) {
    AndroidInterface.printDisconFail(customer, addrs1, addrs2, addrs3, acctno, orderno, ob, ad, rd, img1, img2, printImg, imgSize);
  }

  function printReconFail(customer, addrs1, addrs2, addrs3, acctno, orderno, ob, ad, rd, img1, img2, printImg, imgSize) {
    AndroidInterface.printReconFail(customer, addrs1, addrs2, addrs3, acctno, orderno, ob, ad, rd, img1, img2, printImg, imgSize);
  }

  function printReconSuccess(customer, addrs1, addrs2, addrs3, acctno, orderno, ob, ad, rd, img1, img2, printImg, imgSize, selMOD) {
    AndroidInterface.printReconSuccess(customer, addrs1, addrs2, addrs3, acctno, orderno, ob, ad, rd, img1, img2, printImg, imgSize, selMOD);
  }

  function androidGetGPS(){
    var curGPS = AndroidInterface.getGPSLocation();
    return curGPS;
  }

  function androidGetImageCamera(){
    AndroidInterface.getImage("camera");
  }


  function androidGetImageGallery(){
    AndroidInterface.getImage("gallery");
  }


  function goto(where){
    var scope = angular.element(document.getElementById('splitterctrl')).scope();
    scope.goTo(where);
  }

  function appendText(opcode, data) {
     var scope = angular.element(document.getElementById('splitterctrl')).scope();
     //scope.setTitle(extraStr);
     //scope.backTab1Detail();
     //console.log("dlm append: "+opcode+" " +data);
     if(opcode == "image")
      scope.getImageCaptured(data);

      if(opcode == "backbutton")
        scope.backButton();
   }

  function takeCamera(){
    var scope = angular.element(document.getElementById('splitterctrl')).scope();
    scope.doTakeCamera();
  }

  function takeGallery(){
    var scope = angular.element(document.getElementById('splitterctrl')).scope();
    scope.doTakeGallery();
  }

  function doConfirmSuccess(){
    var scope = angular.element(document.getElementById('splitterctrl')).scope();
    scope.doConfirmSuccess();
  }

  function doConfirmPending(){
    var scope = angular.element(document.getElementById('splitterctrl')).scope();
    scope.doConfirmPending();
  }

</script>
</body>
</html>


<!-- book <mark>
https://firebasetutorials.com/send-push-notification-using-firebase-in-android/
https://www.androidtutorialpoint.com/firebase/firebase-cloud-messaging-tutorial/ ** works
http://www.jcgonzalez.com/img-to-zpl-online **awesome

Mobile App TODO: Must Have
- Surat discon fail **done
-surat recon success **done
-surat recon fail **done
-default MOD **done
-back button **done
-notification for reconnection **done
-reason listing
-timing data **done
-image bila dh complete or pending, kalau null jgn tunjuk img + tu **done
- "no item" **done
-recon MOR select pelik bila nak select **done
- MOR bila dh OK success, last dialog x keluar n x poppage ke lsiting **done
-Recon bila pending, gambar masuk salah gambar, success pun recon **done
- pending no "no item" **done
- paper length too long recon success, recon fail

Web TODO: Must Have
-planner for recon **done

Others must have:
- more trx
- data initializer
- default pix of meter in gallery
- code to server


discussion:
+ sono, account no,  meter no group sekali side by side
+ sort ikut location, street area, town
+ meter no kt atas display only (kt atas)
+ meter reading blank (label: disconnection meter reading)
+ meter # last 4 digit (bawah) defaukt blank
+ wajib gambar at least 1
+ button (success n unsuccess) baru tekan button print terus keluar reason or MOD
+ free text for remark 50 chars
+ reprint (demo kena ada)
+ semua surat letterhead standard
+ unsucessful sama mcm assigned\
+ icon kecik kat tabbar reconnect berapa, disconnect berapa
+ reason bold
+webtool in tab style
+ unsucessful lupa letak gps
+ satukan map discon & recon

biru, hijau cair, oren-x berjaya potong, assigned sambung -purple, berjaya sambung - hijau pekat, kuning - xberjaya sambung
aging alert utk recon still not success... alert kt webtool n SMS (via contact list, tnb staff, zone manager, vendor supervisor etc)
average response time KPI asingkan discon n recon
filter kt chart by zone, status etc
assigned time n successful time side by side kt webtool listing, + acct no

kad business - acoi
panjangkan surat kt atas 1cm
supervisor boleh overide update job thru web

-->
